@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply box-border bg-[#18181B] */
    @apply box-border bg-[#000000]
}

:root {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.4rem;
    /* background: #1d4ed8; */
}

::-webkit-scrollbar-thumb {
    background-color: #1d4ed8;
    border-radius: 20px;


}



@layer utilities {
    .blurred-bg {
        @apply w-[200px] sm:w-[300px] md:w-[500px] h-[100px] sm:h-[200px] md:h-[200px] rounded-full blur-[500px] sm:blur-[150px] bg-blue-500/40 dark:bg-blue-700/20;
    }
}